<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render(partial => 'layouts/shim')%>
</head>
<body>
  <%= render(partial => 'layouts/header') %>
  <div class="container">
    <%= yield %>
    <%= render(partial => 'layouts/footer')%>
  </div>
  </body>
</html>